.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
<<<<<<< HEAD
  background-image: url("anhnen.png");
=======
  background-color: #fdff56;
>>>>>>> 9a473ff77f18cc82892c8e4e5611be5f6cb599c8
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 255, 17);
}
.p {
  color:lavender
}
.App-link {
  color: #c7ff2c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
